@import "tailwindcss";
:root {
    --background: #FDF7EC;        
    --card: #FFFFFF;              
    --text-primary: #374151;      
    --text-secondary: #6B7280;    
    --primary: #EC4899;           
    --success: #22C55E;           
    --success-hover: #16A34A;     
    --warning: #FACC15;           
    --warning-hover: #EAB308;     
    --error: #EF4444;            
    --gradient-start: #FDE68A;    
    --gradient-end: #FBCFE8;      
    
    --button-background: #F3F4F6; 
    --button-hover-background: #E5E7EB; 
}

.dark {
    --background: #1E293B;
    --card: #2D3B50;
    --text-primary: #F8F9FA;
    --text-secondary: #A8B3C1;
    --primary: #A78BFA;
    --success: #81C9B7;
    --success-hover: #5AA897;
    --warning: #E3A663;
    --warning-hover: #C97A3F;
    --error: #D77A89;
    --gradient-start: #6D86A6;
    --gradient-end: #8E6EA7;
    
    --button-background: #374151; /* Default button background for dark mode */
    --button-hover-background: #4B5563; /* Hover background for dark mode */
}


